/*Header*/
.header{
    background-image: url("images/Hero.png");
    background-position: 50%;
}
.header .text{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    
}
.header .texttwo{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
}
.header .text button{
    background-color: #FF6565;
    width: 162px;
    height: 42px;
    border-radius: 50px;
    color: white;
    border-color: #FF6565;

}

/* Nav */
.nav {
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 150px;
}
.nav-logo{
    display: flex;
    flex-direction: row;
}
.nav-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}
.nav-text p{
    color: white;
    margin-left: 20px;
}